**__pycache__**
**.log

___old___
__sparse-cafm
__ccrfcd-gauge-grids
__SmaAt-UNet
__TimeSformer-pytorch

__repos__
__exps__

wandb
weights
tiny-exp
lightning_logs
weather4cast_data

uv.lock

.venv
.claude